{% extends "base.html" %}

{% load static %}

{% block title %}
Lista de Doctores de MediCare
{% endblock %}



{% block content %}
{% if usuarios %}
    {% for usuario in usuarios %}
        {% if usuario.especialidad %}
        <div class="max-w-4xl mx-auto mt-10 bg-white p-8 rounded shadow">
            <div class="flex items-center space-x-4">
                <!-- Foto de perfil con iniciales -->
                <div class="w-14 h-14 bg-gradient-to-br from-medical-primary to-medical-accent rounded-full flex items-center justify-center">
                    <span class="text-white text-lg font-bold"> {{ usuario.first_name.0 }}{{ usuario.last_name.0 }}</span>
                </div>
                
                <!-- Nombre -->
                <h1 class="text-2xl font-bold">{{ usuario.first_name }} {{ usuario.last_name }}</h1>
            </div>

            

            <!-- ================== DATOS BÁSICOS ================== -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <div>
                    <h2 class="text-lg font-semibold">Datos del Usuario</h2>
                    <ul class="mt-2 text-gray-700">
                        <li><strong>RUT:</strong> {{ usuario.rut }}</li>
                        <li><strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }}</li>
                        <li><strong>Fecha de nacimiento:</strong> {{ usuario.fecha_nac }}</li>
                        <li><strong>Especialidad:</strong> {{ usuario.especialidad }}</li>
                    </ul>
                </div>

                

            </div>

            <div>
                <!-- ¿FOTO DEL DOCTOR? -->
            </div>

        </div>

        {% endif %}
    {% endfor %}

        
{% else %}
    <h1>No hay doctores disponibles para mostrar</h1>
{% endif %}

{% endblock %}