{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRUEBAS TEMPORALES</title>
</head>
<body>
    <div class="text-center">




    <h1>DOCTORES</h1>
    {% for doctor in doctores %}
        <option value="{{ doctor.id_usuario }}">{{ doctor.id_usuario }} - {{ doctor.first_name }} — {{ doctor.especialidad }}</option>
    {% empty %}
        <option value="">No hay doctores disponibles</option>
    {% endfor %}

    <br><br><br>
    
    
    
    
    <h1>CITAS</h1>
    {% for cita in citas %}
        <p>{{ cita }}</p>
    {% empty %}
        <p>No hay citas agendadas</p>
    {% endfor %}

</div>
</body>
</html>